body {
  background-color: #88A3D4;
  font-family: "Roboto", "Arial", sans-serif;
}

h1 {
  color: #5886db;
}

.images {
  width: 100px;
  height: 100px;
  margin-left: 90px;
}

.all a {
  text-decoration: none;
  color: #8f9297;
 
}

.all {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  padding: 20px 20px 30px 0px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(18, 18, 19, 0.5);
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

ul li {
  padding: 10px;
}

.all li:hover {
  background-color: #ced5df;
  border-radius: 20px;
}

.inner-sections {
  width: 300px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
.first-price {
  margin-top: 37px;
}

span {
  font-size: 20px;
}
